<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="flex-center d-flex justify-content-center align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-4 text-center">
          <div class="card">

            <h5 class="card-header white-text text-center py-4">
              <strong>Sign in</strong>
            </h5>

            <!--Card content-->
            <div class="card-body px-lg-5 pt-0">

                <!-- Email -->
                <div class="md-form">
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'Email' %>
                </div>

                <!-- Password -->
                <div class="md-form">
                  <%= f.password_field :password, class: 'form-control', placeholder:'Password' %>
                </div>

                <!-- Sign in button -->
                <%= f.submit "Log in", class: "btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" %>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<style>
.card {
    margin-top: 100px;
  }
  .card-header {
    background-color: #ca1391;
  }
  .row {
    justify-content: center !important;
  }
  .btn-outline-info {
    border-color: #ca1391 !important;
    color: #ca1391 !important;
  }
  .form-control:focus {
    border-color: #ca1391;
  }
</style>